<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navitia-sdk" version="2.3.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavitiaSDK</name>

	<preference name="KISIO_ARTIFACTORY_URL" default="https://kisiodigital.jfrog.io/kisiodigital/" />
	<preference name="KISIO_ARTIFACTORY_ANDROID_REPO_RELEASE" default="android-release" />
	<preference name="KISIO_ARTIFACTORY_ANDROID_REPO_SNAPSHOT" default="android-snapshot" />
    <hook src="hooks/add_artifactory_conf.js" type="before_plugin_install" />

    <js-module name="NavitiaSDK" src="www/NavitiaSDK.js">
        <clobbers target="NavitiaSDK" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDK">
                <param name="ios-package" value="CDVNavitiaSDK" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVNavitiaSDK.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
                <source url="https://github.com/CanalTP/Podspecs"/>
            </config>
            <pods use-frameworks="true">
                <pod name="NavitiaSDK" spec="1.4.4"/>
            </pods>
        </podspec>

		<hook src="hooks/add_buildPhase.js" type="after_plugin_install" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDK">
                <param name="android-package" value="com.kisio.navitia.sdk.data.expert.CDVNavitiaSDK"/>
            </feature>
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/com/kisio/navitia/sdk/data/expert/CDVNavitiaSDK.java" target-dir="com/kisio/navitia/sdk/data/expert/CDVNavitiaSDK" />
    </platform>
</plugin>
