<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navitia-sdk" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavitiaSDK</name>
    <js-module name="NavitiaSDK" src="www/NavitiaSDK.js">
        <clobbers target="NavitiaSDK" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDK">
                <param name="ios-package" value="CDVNavitiaSDK" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVNavitiaSDK.h" />
        <source-file src="src/ios/CDVNavitiaSDK.m" />
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod name="NavitiaSDK" version="0.1.0" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDK">
                <param name="android-package" value="org.kisio.CDVNavitiaSDK.CDVNavitiaSDK"/>
            </feature>
        </config-file>
        <source-file src="src/android/org/kisio/CDVNavitiaSDK/CDVNavitiaSDK.java" target-dir="src/org/kisio/CDVNavitiaSDK" />
        <framework src="org.kisio.sdk:navitia-sdk:0.1.0" />
        <framework src="com.googlecode.json-simple:json-simple:1.1.1" />
    </platform>
</plugin>
